
.canvasContainer {
    position: relative;
    display: inline-block;
}

.canvasContainer canvas {
    border: 1px solid #000;

}

.canvasContainer overlay {

}

.fullscreenButton {
    position: absolute;
    right: 0px;
    bottom: 6.5px;
}

.numberButton {
    position: absolute;
    right: 100px;
    bottom: 6px;
    cursor: pointer;
}

.startGameButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the button exactly */
    z-index: 10;
    cursor: pointer;
}

.active {

}

.hidden {
    display: none;
}
