.numberButton {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); /* Centers the button exactly */
    z-index: 10;
    cursor: pointer;
    font-size: 2rem;
    padding: 5rem 5rem; /* Responsive padding */
    border: none; /* Optional: removes the border */
    border-radius: 8px; /* Optional: adds rounded corners to the button */
    background-color: #419aff; /* Background color */
    color: white; /* Text color */
}

.numberButtonCenter {
    left: 50%;
}

.numberButtonLeft{
    left: 20%;
}

.numberButtonRight{
    left: 80%;
}